<main class="scroll-box bgcolor">
  <div class="box box__focus" id="top-box">
    <div>
      <div>
        <h3 style="text-align: center;">Final Prayers</h3>
        <h2 style="padding: 0 1rem;">Hail Holy Queen</h2>
        <div class="div-line"></div>
        <p *ngFor="let line of hail_holy_queen">{{ line }}</p>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <h2 style="padding: 1rem 1rem 0 1rem;">Final Prayer</h2>
        <div class="div-line"></div>
        <p *ngFor="let line of final_prayer">{{ line }}</p>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <div>
          <h2 style="padding: 1rem 1rem 0 1rem;">St. Michael Prayer</h2>
          <div class="div-line"></div>
          <p *ngFor="let line of st_michael">{{ line }}</p>
        </div>
        <div>
          <br>
          <p>End the Rosary by making the <b>Sign of The Cross</b></p>
          <p>In the name of The Father, The Son, and The Holy Spirit.</p>
          <p>Amen.</p>
        </div>
        <div class="btn-box">
          <button (click)="navHome()" clickable>Home</button>
        </div>
      </div>
    </div>
  </div>
</main>
