<main class="scroll-box bgcolor">
  <div class="box box__focus" id="top-box">
    <div>
      <div>
        <h3 style="text-align: center">{{ final_prayers_title }}</h3>
        <h2 style="padding: 0 1rem">{{ prayers.HAIL_HOLY_QUEEN.title }}</h2>
        <div class="div-line"></div>
        <p *ngFor="let line of prayers.HAIL_HOLY_QUEEN.text">{{ line }}</p>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <h2 style="padding: 1rem 1rem 0 1rem">{{ prayers.FINAL_PRAYER.title }}</h2>
        <div class="div-line"></div>
        <p *ngFor="let line of prayers.FINAL_PRAYER.text">{{ line }}</p>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <div>
          <h2 style="padding: 1rem 1rem 0 1rem">{{ prayers.ST_MICHAEL.title }}</h2>
          <div class="div-line"></div>
          <p *ngFor="let line of prayers.ST_MICHAEL.text">{{ line }}</p>
        </div>
        <div>
          <br />
          <p>
            {{ end_with }}<b>{{ prayers.SIGN_OF_CROSS.title }}</b>
            .
          </p>
          <p *ngFor="let line of prayers.SIGN_OF_CROSS.text">{{ line }}</p>
        </div>
        <div class="btn-box">
          <button (click)="navHome()" clickable>{{ homeButton }}</button>
        </div>
      </div>
    </div>
  </div>
</main>
