/* You can add global styles to this file, and also import other style files */

@import 'variables';

:root {
  --theme: #967db4;
  --theme-dark: #6a5188;
  --theme-trans-light: rgba(150, 125, 180, 0.8);
  --theme-trans-dark: rgba(106, 81, 136, 0.8);
}

html {
  font-size: 15px;
}

body {
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 0;
}

// Scroll snapping

@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
}

// Default iPhone sizing and styles

.scroll-box {
  height: vh(100);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.box {
  height: vh(100);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: center;

  > div {
    background-color: var(--theme-trans-light);
  }

  &__focus {
    justify-content: center;
  }
}

// Global styles

.bgcolor {
  background-color: var(--theme-trans-dark);
}

.div-line {
  margin: 0.5rem 2rem;
  height: 0.2rem;
  background-color: var(--theme-dark);
  border-radius: 0.5rem;
}

.btn-box {
  display: flex;
  justify-content: center;

  button {
    background-color: #6a5188;
    border: 0.25rem solid whitesmoke;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.8rem;
    width: 50%;

    &:hover,
    &:active {
      background-color: #967db4;
    }
  }
}

// Fonts

h1,
h2,
h3 {
  font-family: map-get($map: $fonts, $key: 'heading');
  // background-color: var(--theme);
  // border-bottom: 4px solid var(--theme-dark);
  margin: 0;
  padding: 1rem;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 1.8rem;
}
h3,
button {
  font-family: map-get($map: $fonts, $key: 'text');
}

a,
p {
  font-family: map-get($map: $fonts, $key: 'text');
  margin: 1rem;
}

@media screen and (min-width: map-get($map: $breakpoints, $key: 'md')) {
  html {
    font-size: 17.5px;
  }
}

@media screen and (min-width: map-get($map: $breakpoints, $key: 'lg')) {
  html {
    font-size: 19px;
  }
}

// iPad sizing

@media screen and (min-width: map-get($map: $breakpoints, $key: 'tablet')) {
  html {
    font-size: 24px;
  }

  .box {
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        width: 75%;
      }
    }
  }
}

// Mobile and Tablet modes

// Normal display and base styling
#root {
  display: block;
}
#mobile {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  div {
    flex: 1;
  }
}
#desktop {
  display: none;
  width: 100vw;
  height: 100vh;
}

// iPhone
@media (orientation: landscape) and (max-width: 760px) {
  #root {
    display: none;
  }
  #mobile {
    display: flex;
  }
  #desktop {
    display: none;
  }
}
// Large iPhone
@media (orientation: landscape) and (max-width: 900px) and (max-height: 450px) {
  #root {
    display: none;
  }
  #mobile {
    display: flex;
  }
  #desktop {
    display: none;
  }
}
// Styling to always hide RotateToPortrait component on desktop and iPad
@media (orientation: portrait) and (min-width: 768px) {
  #root {
    display: block;
  }
  #mobile {
    display: none;
  }
  #desktop {
    display: none;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  #root {
    display: none;
  }
  #mobile {
    display: none;
  }
  #desktop {
    display: flex;
  }
}

// @media (orientation: portrait) {
//   #root {
//     display: block;
//   }
//   #mobile {
//     display: none;
//   }
//   #desktop {
//     display: none;
//   }
// }
