<!-- Intro to decade -->
<div class="box box__focus bgcolor" id="top-box">
  <div>
    <div>
      <div class="decade">
        <h1>The {{ decadeData.number }} {{ mystery | titlecase }} Mystery</h1>
        <h2>{{ decadeData.name }}</h2>
        <div class="div-line"></div>
        <p><i>Fruits of the mystery: {{ decadeData.fruits }}</i></p>
      </div>
      <p *ngFor="let line of our_father">{{ line }}</p>
    </div>
  </div>
</div>

<div class="box scenes" *ngFor="let scene of decadeData.scenes; let i=index">
  <div></div>
  <section class="scene">
    <figure class="number">
      <p>{{ i + 1 }}</p>
    </figure>
    <span class="verse">
      <p>{{ scene.verse }}</p>
      <p><i>{{ scene.ref }}</i></p>
    </span>
  </section>
</div>
