@import '../../../variables';

.decade {
  text-align: center;
  // background-color: var(--theme);

  h1,
  h2 {
    background-color: transparent;
    border: none;
  }

  h1 {
    font-family: map-get($map: $fonts, $key: 'text');
    font-size: 1.2rem;
  }
  h2 {
    padding: 0 1rem;
    font-size: 1.8rem;
  }
  p {
    font-size: 0.9rem;
  }
}

.scene {
  display: flex;
  background-color: var(--theme-trans-light);

  .number {
    background-color: var(--theme-dark);
    border-radius: 50%;
    margin: 1rem;
    padding: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
      font-weight: bolder;
      color: whitesmoke;
      font-family: 'Avenir', sans-serif;
    }
  }
  .verse {
    display: block;
    > p {
      margin-left: 0;
    }
  }
  .hail-mary {
    display: none;
    > p {
      margin-left: 0;
    }
  }
}

input#num {
  position: absolute;
  margin: 1rem;
  width: 2.25rem;
  height: 2.25rem;
  opacity: 0;
}

#num:checked ~ .verse {
  display: none;
}
#num:checked ~ .hail-mary {
  display: block;
}
