<main class="scroll-box bgcolor" id="home">
  <div class="box box__focus" id="top-box">
    <div>
      <div>
        <h1>{{ text.title }}</h1>
        <div class="div-line"></div>
        <section>
          <p>{{ text.desc }}</p>
          <p>
            <i> {{ text.instructions }} </i>
          </p>
          <p>{{ text.get_started }}</p>
          <div class="lang-switch-box">
            <p [ngClass]="checked == false ? 'selected' : ''" (click)="checked = false; toggleLang()">
              {{ text.languages.english }}
            </p>
            <!-- <div class="content">
              <input
                type="checkbox"
                name="toggle"
                class="sw"
                id="toggle-1"
                #switch
                (click)="toggleLang()"
                [checked]="checked"
              />
              <label for="toggle-1"></label>
            </div> -->
            <p [ngClass]="checked == true ? 'selected' : ''" (click)="checked = true; toggleLang()">
              {{ text.languages.spanish }}
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <h2>{{ text.rosary_purpose.title }}</h2>
        <div class="div-line"></div>
        <section>
          <p>{{ text.rosary_purpose.p1 }}</p>
          <p>{{ text.rosary_purpose.p2 }}</p>
        </section>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <h2>{{ text.praying_rosary.title }}</h2>
        <div class="div-line"></div>
        <section class="praying-the-rosary">
          <p>{{ text.praying_rosary.p1 }}</p>
          <p>{{ text.praying_rosary.p2 }}</p>
          <figure>
            <img src="../../../assets/images/rosary2.png" alt="Rosary" />
            <caption>
              <ol>
                <li>{{ text.praying_rosary.steps[0] }}</li>
                <li>{{ text.praying_rosary.steps[1] }}</li>
                <li>{{ text.praying_rosary.steps[2] }}</li>
                <li>{{ text.praying_rosary.steps[3] }}</li>
                <li>{{ text.praying_rosary.steps[4] }}</li>
                <li>{{ text.praying_rosary.steps[5] }}</li>
                <li>{{ text.praying_rosary.steps[6] }}</li>
              </ol>
            </caption>
          </figure>
          <p style="text-align: left; margin: 1rem">
            {{ text.praying_rosary.steps[7] }}
          </p>
        </section>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <h3 style="text-align: center">{{ text.prayers.opening }}</h3>
        <section>
          <p>
            {{ text.prayers.begin_with }}<b>{{ prayers.SIGN_OF_CROSS.title }}</b
            >.
          </p>
          <p *ngFor="let line of prayers.SIGN_OF_CROSS.text">{{ line }}</p>
        </section>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <h2>{{ prayers.CREED.title }}</h2>
        <div class="div-line"></div>
        <section>
          <p>
            {{ text.prayers.say_the }}<b>{{ prayers.CREED.title }}</b
            >.
          </p>
          <p style="white-space: pre-wrap">{{ prayers.CREED.text }}</p>
        </section>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <h2>{{ prayers.OUR_FATHER.title }}</h2>
        <div class="div-line"></div>
        <section>
          <p>
            {{ text.prayers.say_the }}<b>{{ prayers.OUR_FATHER.title }}</b
            >.
          </p>
          <p>
            <em>{{ text.prayers.for_the_pope }}</em>
          </p>
          <p *ngFor="let line of prayers.OUR_FATHER.text">{{ line }}</p>
        </section>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <h2>{{ prayers.HAIL_MARY.title }}</h2>
        <div class="div-line"></div>
        <section>
          <p>
            {{ text.prayers.say_three }}<b>{{ prayers.HAIL_MARY.title }}</b
            >.
          </p>
          <p>
            <em>{{ text.prayers.hail_mary_virtues }}</em>
          </p>
          <p *ngFor="let line of prayers.HAIL_MARY.text">{{ line }}</p>
        </section>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <h2>{{ prayers.GLORY_BE.title }}</h2>
        <div class="div-line"></div>
        <section>
          <p>
            {{ text.prayers.say_the }}<b>{{ prayers.GLORY_BE.title }}</b
            >.
          </p>
          <p *ngFor="let line of prayers.GLORY_BE.text">{{ line }}</p>
        </section>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div class="mystery-box">
        <h2 style="padding: 1rem">{{ text.mysteries.mysteries_title }}</h2>
        <!-- <div class="div-line"></div> -->
        <section class="link-wrapper">
          <a routerLink="/glorious/1">
            <h4>{{ text.mysteries.glorious }}</h4>
            <p [ngClass]="currentDay === 0 ? 'highlight' : ''">{{ text.mysteries.days.sunday }}</p>
            <p [ngClass]="currentDay === 3 ? 'highlight' : ''">{{ text.mysteries.days.wednesday }}</p>
          </a>
        </section>
        <section class="link-wrapper">
          <a routerLink="/joyful/1">
            <h4>{{ text.mysteries.joyful }}</h4>
            <p [ngClass]="currentDay === 1 ? 'highlight' : ''">{{ text.mysteries.days.monday }}</p>
            <p [ngClass]="currentDay === 6 ? 'highlight' : ''">{{ text.mysteries.days.saturday }}</p>
          </a>
        </section>
        <section class="link-wrapper">
          <a routerLink="/sorrowful/1">
            <h4>{{ text.mysteries.sorrowful }}</h4>
            <p [ngClass]="currentDay === 2 ? 'highlight' : ''">{{ text.mysteries.days.tuesday }}</p>
            <p [ngClass]="currentDay === 5 ? 'highlight' : ''">{{ text.mysteries.days.friday }}</p>
          </a>
        </section>
        <section class="link-wrapper">
          <a routerLink="/luminous/1">
            <h4>{{ text.mysteries.luminous }}</h4>
            <p [ngClass]="currentDay === 4 ? 'highlight' : ''">{{ text.mysteries.days.thursday }}</p>
          </a>
        </section>
      </div>
    </div>
  </div>

  <div class="box box__focus">
    <div>
      <div>
        <h2>{{ text.contact.title }}</h2>
        <div class="div-line"></div>
        <p>{{ text.contact.created_by }}</p>
        <p>
          {{ text.contact.issues_p1 }}<em>{{ text.title }}</em
          >{{ text.contact.issues_p2 }}
          <a
            href="https://www.facebook.com/profile.php?id=100013351997843"
            target="_blank"
            rel="noreferrer"
            style="margin: 0"
          >
            {{ text.contact.issues_p3 }}
          </a>
        </p>
        <p>{{ text.contact.compatibility_note }}</p>
      </div>
      <div>
        <p>{{ text.contact.bible_quote }}</p>
        <a
          href="https://thenounproject.com/term/rosary/329724/"
          target="_blank"
          rel="noreferrer"
          style="margin: 0 1rem"
        >
          {{ text.contact.rosary_favicon }}
        </a>
        <br />
        <a href="https://www.usccb.org/how-to-pray-the-rosary" target="_blank" rel="noreferrer" style="margin: 0 1rem">
          {{ text.contact.how_to }}
        </a>
        <p>
          {{ text.contact.copyr_img_p1 }}<br />
          {{ text.contact.copyr_img_p2 }}<br />
          {{ text.contact.copyr_img_p3 }}
        </p>
        <h3>{{ text.contact.copyright }} &copy; Ian G 2021</h3>
      </div>
    </div>
  </div>
</main>
