@import '../../../variables';

// Mystery Nav

.mystery-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  > a {
    flex: 1;
    margin: 0;
    width: 50%;
    cursor: pointer;
    color: inherit;
    text-decoration: none;

    h4 {
      font-family: map-get($map: $fonts, $key: 'heading');
      font-size: 1.8rem;
      margin: 0.5rem 1rem 0 2rem;
    }

    p {
      margin: 0;
      padding: 0.5rem 0 0.5rem 3rem;
    }
  }
}

.highlight {
  background-color: var(--theme-invert);
  color: white;
}
