<main class="scroll-box">
  <!-- Pass the decade as a prop to update the current decade -->
  <app-decade [mystery]="mystery" [decade]="decade"></app-decade>

  <!-- End-of-decade prayers -->
  <div class="box box__focus bgcolor">
    <div>
      <div>
        <h2 style="padding: 1rem 1rem 0 1rem">{{ glory_be.title }}</h2>
        <div class="div-line"></div>
        <p *ngFor="let line of glory_be.text">{{ line }}</p>
      </div>

      <div>
        <h2 style="padding: 1rem 1rem 0 1rem">{{ fatima_prayer.title }}</h2>
        <div class="div-line"></div>
        <p>{{ fatima_prayer.text }}</p>
      </div>
      <div class="btn-box">
        <button (click)="nextDecade()" clickable>{{ continue }}</button>
      </div>
    </div>
  </div>
</main>
