<main class="scroll-box scroll-box--border">

  <!-- Pass the decade as a prop to update the current decade -->
  <app-decade [mystery]="mystery" [decade]="decade"></app-decade>

  <!-- End-of-decade prayers -->
  <div class="box box__focus bgcolor">
    <div>
      <div>
        <h2 style="padding: 1rem 1rem 0 1rem;">Glory Be</h2>
        <div class="div-line"></div>
        <p>Glory be to the Father, and to the Son, and to the Holy Spirit.</p>
        <p>
          As it was in the beginning, is now, and ever shall be, world without
          end.
        </p>
        <p>Amen.</p>
      </div>

      <div>
        <h2 style="padding: 1rem 1rem 0 1rem;">Fatima Prayer</h2>
        <div class="div-line"></div>
        <p>
          O my Jesus, forgive us our sins, save us from the fires of hell. Lead
          all souls to Heaven, especially those in most need of thy mercy.
        </p>
      </div>
      <div class="btn-box">
        <button (click)="nextDecade()" clickable>Continue</button>
      </div>
    </div>
  </div>
</main>
