<div class="desktop-view" id="desktop-box">
  <h1>Connecting The Beads</h1>
  <p style="text-align: center; font-style: italic;">
    Rediscover the Rosary with Scripture and Artwork
  </p>

  <div class="body-content">
    <section>
      <p>
        This simple and elegant web app is designed to help newcomers and daily
        devotees pray the Rosary. Relevant scripture verses and emotive artwork
        for each mystery allows you to stay focused and meditate on the lives of
        Jesus and Mary.
      </p>
      <div class="div-line"></div>
      <p>
        You can install Connecting The Beads on any smartphone or tablet by
        pressing "Add to Home Screen", or shrink your desktop browser to view
        the app. Requires at least iOS 12.2 or Chrome
        51. Built using Angular.
      </p>
      <p>
        The 20 Mysteries of The Rosary - Bellazzi<br>
        Copyright 2021 - Used with permission<br>
        Fratelli Bonella - Milan, Italy
      </p>
      <p>
      </p>
      <p>Copyright &copy; Ian G 2021</p>
    </section>
    <aside>
      <img src="../../../assets/images/bellazzi-rosary-images.png"
        alt="20 Mysteries of the Rosary by Italian Artist Bellazzi">
    </aside>
  </div>

</div>
