<div class="desktop-view" id="desktop-box">
  <h1>Connecting The Beads</h1>
  <p style="text-align: center; font-style: italic;">
    Rediscover the Rosary with Scripture and Meditation
  </p>

  <div class="body-content">
    <section>
      <p>
        This simple and elegant web app is designed to help newcomers and daily
        devotees pray the Rosary by allowing them to enter a deeper meditation
        on
        the lives of Jesus and Mary using relevant scripture verses and emotive
        images by the Italian artist, Bellazzi, for each Mystery.
      </p>
      <div class="div-line"></div>
      <p>
        You can view Connecting The Beads (in portrait orientation) on any
        smartphone or tablet running at least iOS 12.2 or Chrome 51, or shrink
        your desktop browser to view the app. Built using Angular.
      </p>
      <p>Copyright &copy; Ian G 2021</p>
    </section>
    <aside>
      <img
        src="https://connectingthebeads-images.s3.amazonaws.com/main/rosary-images-M.png"
        alt="20 Mysteries of the Rosary by Italian Artist Bellazzi">
    </aside>
  </div>

</div>
