<div class="desktop-view" id="desktop-box">
  <h1>{{ title }}</h1>
  <p style="text-align: center; font-style: italic">{{ text.hook }}</p>

  <div class="body-content">
    <section>
      <p>{{ text.desc }}</p>
      <div class="div-line"></div>
      <p>{{ text.instructions }}</p>
      <p>
        {{ copyright.copyr_img_p1 }}<br />
        {{ copyright.copyr_img_p2 }}<br />
        {{ copyright.copyr_img_p3 }}
      </p>
      <p></p>
      <p>{{ copyright.copyright }} &copy; Ian G 2021</p>
    </section>
    <aside>
      <img
        src="../../../assets/images/bellazzi-rosary-images.png"
        alt="20 Mysteries of the Rosary by Italian Artist Bellazzi"
      />
    </aside>
  </div>
</div>
